<div class="d-flex flex-column align-center">
    <div class="d-flex align-center">
        <MudText Typo="Typo.overline" Class="cursor-default">
            当前版本
        </MudText>
        <MudText Typo="Typo.caption" Class="ml-1 cursor-default">
            @(_currentVersion)
        </MudText>
    </div>
    <MudButton Variant="Variant.Text"
               Size="Size.Small"
               Color="Color.Inherit"
               Style="opacity: 0.5;"
               Disabled="@_isChecking"
               OnClick="CheckUpdateAsync">

        @if (_isChecking)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            <MudText Class="ms-2">正在检查更新</MudText>
        }
        else
        {
            <MudText>检查更新</MudText>
        }
    </MudButton>
</div>
