<MudDialog DefaultFocus="DefaultFocus.FirstChild">
    <DialogContent>
        <div class="d-flex flex-column mx-3 my-3">
            <MudChip T="string" Label="true">请使用微信扫一扫</MudChip>
            <MudImage Src="images/wxPay.jpg" Width="320" Height="320" Elevation="25" Class="mt-3 rounded-lg" />
        </div>
    </DialogContent>
</MudDialog> 