﻿html,
body,
#app,
.page {
    height: 100%;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.mud-appbar.mud-appbar-fixed-top {
    padding-right: 0 !important;
}

.app-icon {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: cover;
    background-image: url("icon.ico");
}

.dialog-backdrop-filter {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-nav-link.active:not(.mud-nav-link-disabled) .mud-icon-root {
    color: var(--mud-palette-primary) !important;
    font-weight: var(--mud-typography-default-weight) !important;
}

.titlebar-btn.mud-icon-button {
    border-radius: 0 !important;
    padding: 8px !important;
    color: #424242 !important;
}

    .titlebar-btn.mud-icon-button:hover {
        background-color: #E0E0E0 !important;
    }


.dark-mode .titlebar-btn.mud-icon-button {
    color: #CCCCCC !important;
}

    .dark-mode .titlebar-btn.mud-icon-button:hover {
        background-color: #333333 !important;
    }

.close-btn.mud-icon-button:hover {
    background-color: #E57373 !important;
    color: #FFFFFF !important;
}

.dark-mode .close-btn.mud-icon-button:hover {
    background-color: #E81123 !important;
    color: #FFFFFF !important;
}
