﻿html,
body,
#app,
.page {
    height: 100%;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.app-icon {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: cover;
    background-image: url("icon.ico");
}
