<MudPaper Elevation="0">
    <MudText Typo="Typo.subtitle2" Class="input-title" Style="@(Disabled ? "opacity:0.5;" : "")">@(Title)</MudText>
    <div class="d-flex align-center">
        <MudButton Color="Color.Secondary"
                   Disabled="Disabled"
                   Size="Size.Small"
                   Variant="Variant.Outlined"
                   OnClick="SetShortcutKey">
            @(_lockHotkeyDisplay)
        </MudButton>
        @if (Hotkey.IsNotEmpty())
        {
            <MudButton Variant="Variant.Text"
                       Disabled="Disabled"
                       Size="Size.Small"
                       OnClick="ClearShortcutKey">
                @(Lang["Delete"])
            </MudButton>
        }
    </div>
</MudPaper>
