<div class="d-flex align-start @Class">

    <MudIconButton Icon="@Icons.Material.Filled.Minimize"
                   Size="Size.Small"
                   OnClick="MinimizeAsync" />

    @*     <MudIconButton Icon=@(_maximizerIcon)
    Size="Size.Medium"
    Disabled="true"
    OnClick="MaximizeAsync" /> *@

    <MudIconButton Icon="@Icons.Material.Filled.Close"
                   Size="Size.Small"
                   OnClick="CloseAsync" />
</div>