<div class="d-flex align-start @Class">
    <MudIconButton Icon="@Icons.Material.Filled.Remove"
                   Size="Size.Small"
                   OnClick="MinimizeAsync"
                   Class="titlebar-btn" />

    @*     <MudIconButton Icon=@(_maximizerIcon)
    Size="Size.Medium"
    Disabled="true"
    OnClick="MaximizeAsync" /> *@

    <MudIconButton Icon="@Icons.Material.Filled.Close"
                   Size="Size.Small"
                   OnClick="CloseAsync"
                   Class="titlebar-btn close-btn" />
</div>